.section-contacts {
  padding: 70px 0 120px;
}
.section-title {
  @extend %title-font;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__content {
  max-width: 350px;
}

.contacts__menu-item:nth-child(6) {
  margin-bottom: 20px;
}
.contacts__menu-item:nth-child(8) {
  margin-bottom: 30px;
}

.contacts__menu-title {
  margin-bottom: 20px;
}
.contacts__menu-address {
  margin-bottom: 20px;
}

.contacts__social {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  &-link:hover {
    opacity: 0.7;
  }
}

.contacts__social-link {
  transition: all 0.2s;
}

.contacts__map {
  width: 700px;
}
