.footer {
  color: #fff;
  font-size: 14px;
  @extend %title-font;
  font-weight: 400;
  &__content {
    background-color: #444444;
    padding: 120px 0;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__menu-item {
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  &__menu-title {
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #a5a5a5;
  }
  &__copy-delimiter {
    padding: 0 15px;
  }
  &__copy-year {
    padding-right: 15px;
  }
  &__menu-link:hover {
    color: #d75959;
  }
  .footer__social {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-top: 50px;
    margin-right: 30px;
  }
  &__social-link:hover {
    opacity: 0.5;
  }
}

.footer__social {
}
.footer__social-item {
}
.footer__social-link {
}
.footer__social-img {
}

.footer__menu {
}
.footer__menu-list {
}
.footer__menu-item {
}
.footer__menu-link {
}
.footer__menu-title {
}
.footer__menu-address {
}
.footer__copy {
  background-color: #2c2c2c;
  text-align: center;
  padding: 10px 0;
}
