html,
body {
  height: 100%;
  @extend %base-font;
  font-size: 18px;
  line-height: 1.67;
  color: $base-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 32px;
  @extend %title-font;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.breadcrumbs {
  padding-top: 28px;
  @extend %title-font;
  font-size: 14px;
  font-weight: 400;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    padding-right: 3px;
    margin-right: 3px;
  }
  &__link {
    // display: block;
    padding-right: 5px;
  }
  &__link::after {
    content: "/";
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 1px;
  }

  &__item:last-child {
    .breadcrumbs__link::after {
      content: "";
    }
  }
}
