.header {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  &__info {
    background-color: #5e5c5c;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    padding: 6px 0;
    // letter-spacing: 1px;
  }
  &__info-inner {
    display: flex;
    justify-content: space-between;
  }
  &__info-shedule {
  }
  &__info-phones {
  }
  &__info-num {
  }
  &__info-email {
  }
  &__info-mail-link {
  }
}

.header-menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 50px;
    @extend %title-font;
    font-size: 16px;
    line-height: 19px;
  }
  &__list-item {
    position: relative;
  }
  &__list-link:hover {
    color: $hover-color;
  }
  &__list-link {
    padding-bottom: 5px;
    display: inline-block;
  }

  &__list-link--active:hover {
    color: $base-color;
    cursor: default;
  }
  &__list-link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #d64545;
  }
}

.menu__list-item {
  .products-list {
    font-size: 15px;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.8);
    width: 260px;
    padding: 25px 0;
    border-radius: 3px;
    display: none;
    z-index: 1;
    transition: all 5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    &__item + .products-list__item {
      margin-top: 15px;
    }

    &__item {
      position: relative;
      padding-bottom: 15px;
    }

    &__item:last-child {
      padding-bottom: 0;
    }
    &__item:last-child::after {
      content: none;
    }
    &__item::after {
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: #9c9c9c;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0.5;
    }
    &__link {
      padding: 15px 25px;
    }
    &__link:hover {
      color: $hover-color;
    }
  }
}

.menu__list-item:hover {
  .products-list {
    display: block;
  }
}

.products-list__item {
  .products-list__resin {
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.9);
    width: 160px;
    padding: 25px;
    right: -160px;
    top: -15px;
    border-radius: 3px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .products-list__resin-item {
    position: relative;
    padding-bottom: 15px;
    & + .products-list__resin-item {
      padding-top: 15px;
    }
  }

  .products-list__resin-item:last-child {
    padding-bottom: 0;
    &::after {
      display: none;
    }
  }

  .products-list__resin-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #9c9c9c;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 30;
  }
}
.products-list__resin-link {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $hover-color;
  }
}
.products-list__item:hover {
  .products-list__resin {
    display: block;
  }
}
