%lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

%base-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

%lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

%title-font {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
}

$base-color: #555353;
$hover-color: #d75959;
